/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


/* Anchor Tags */

#tribute-link:hover,
a:hover {
  color: yellowgreen;
  text-shadow: 2px 2px black;
}

a {
  color: rgb(0, 255, 13);
  font-family: 'Acme', sans-serif;
  text-decoration: none;
  padding: 1rem;
}



body {
  background-color: rgb(0, 78, 0);
  margin: 0;
}

#box-container-header {
  background: -o-linear-gradient(25deg, red, blue, yellow, magenta);
  background: linear-gradient(65deg, red, blue, yellow, magenta);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#title {
  text-align: center;
  color: #51fe5c;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}

#tribute-info {
  color: #51fe5c;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  padding: 1rem;
}

h2 {
  color: #51fe5c;
  background: -o-linear-gradient(25deg, red, blue, yellow, magenta);
  background: linear-gradient(65deg, red, blue, yellow, magenta);
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  text-shadow: 2px 2px black;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
}

h4 {
  color: #51fe5c;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* Profile Styling */

.turtle-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

#Leonardo {
  color: #27b1ff;
  padding-left: 15px;
}

#Donatello {
  color: #b671ff;
  padding-left: 15px;
}

#Raphael {
  color: rgb(255, 0, 0);
  padding-left: 15px;
}

#Michelangelo {
  color: #ffb871;
  padding-left: 15px;
}

#profile-text {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow: #15b3fc 2px 2px;
  text-transform: uppercase;
  font-size: 15px;
  height: auto;
  width: 375px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}



/* Footer Styling */

#footer {
  width: 100%;
  background: #2ddf5c;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* Footer Link Styling */

#tribute-link {
  color:rgb(0, 78, 0);
  text-decoration: none;
  font-family: 'Acme', sans-serif;
}

/* Image Styling */

img {
  width: 400px;
  max-width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.turtles-image {
  display: block;
  margin: auto;
}

.turtles-border {
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}


/* Mobile View -- 600px and under */

@media (max-width: 600px) {

  a {
    padding: 0.5rem;
  }
  
  body {
    background: -webkit-gradient(linear, left top, right top, from(red), color-stop(blue), color-stop(yellow), color-stop(magenta), to(red));
    background: -o-linear-gradient(left, red, blue, yellow, magenta, red);
    background: linear-gradient(90deg, red, blue, yellow, magenta, red);
  }

  #box-container-header {
    background: none;
  }

  #header {
    text-align: center;
  }

  h2 {
    background: none;
  }

  .turtle-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
  }

  #profile-text {
    color: white;
    font-size: 12px;
    text-shadow: #15b3fc 2px 2px;
    width: 375px;
  }

  #tribute-info {
    color: #51fe5c;
    font-size: 20px;
    padding: 0.5rem;
  }

  #footer {
    padding: 2rem;
  }

}