@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 35rem auto fit-content(8rem);
  grid-gap: 15px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  margin: 0;
  background: rgb(0, 78, 0);
  width: 100%;
}

h2 {
  color: #51fe5c;
  background: linear-gradient(65deg, red, blue, yellow, magenta);
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  text-shadow: 2px 2px black;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
}

.navbar {
min-height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;
background-color: #262626;
}

.nav-menu {
display: flex;
justify-content: space-between;
align-items: center;
gap: 60px;
background-color: #262626;
}

.nav-items {
  list-style: none;
}

.nav-hamburger {
display: none;
cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 600px) {
  .nav-hamburger {
    display: block;
  }

  .nav-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-items{
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  a {
    padding: 0.5rem;
  }

  body {
    background: linear-gradient(90deg, red, blue, yellow, magenta, red);
  }

  #box-container-header {
    background: none;
  }

  #header {
    text-align: center;
  }

  h2 {
    background: none;
  }

  .turtle-profile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  #profile-text {
    color: white;
    font-size: 12px;
    text-shadow: #15b3fc 2px 2px;
  }

  #tribute-info {
    color: #51fe5c;
    font-size: 15px;
    padding: 0.5rem;
  }
}
